body {
  background: #1e1e2f;
  color: white;
  text-align: center;
  font-family: Arial;
}

.slider {
  width: 600px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  display: block;
}

/* Стрілки */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.left { left: 10px; }
.right { right: 10px; }

/* dots */
.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: gray;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
}